@{
    ViewData["Title"] = "License";
}

<div class="PageDivContainer" >
    <h1 class="display-4">Licenced Modules</h1>
    <div style="display:flex">
        <div class="Module">
            <div></div>
            <div></div>
        </div>
        <div class="Module">
            <div></div>
            <div></div>
        </div>
        <div class="Module">
            <div></div>
            <div></div>
        </div>
        <div class="Module">
            <div></div>
            <div></div>
        </div>
        <div class="Module">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
